@import url('https://fonts.googleapis.com/css2?family=Coustard:wght@400;900&family=Grand+Hotel&family=Madimi+One&family=Patrick+Hand+SC&display=swap');

/* MAIN */

.titles_page {
    display: grid;
    justify-items: center;
    align-items: center;
    color: #D2A25F;
    font-family:"Patrick Hand SC"
}

.welcome_word {
    font-weight: bold;
    font-size: 7em;
}

.to_word {
    font-weight: 200;
    font-size: 2.5em;
}

.title_words {
    font-weight: bold;
    font-size: 4em;
}

/* MODAL */

main {
    padding-block-start: 74px;
    padding-inline: 24px;
    filter: blur(20px);
}

.consent-modal{
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
}

.consent-modal__content {
    background-color: #FFF;
    padding: 28px;
    border-radius: 5px;
    margin-block-end:5vw;
    border: 1.5px solid red;
    box-shadow: 5px 5px 5px 5px rgba(0.2, 0.2, 0.2, 0.2);
}

.consent-modal__text {
    font-size: 20px;
    margin-bottom: 28px;
    text-align: center;
}

.consent-modal__text--bolder {
    font-weight: 700;
}

.consent-modal__text--red {
    color: red;
    font-size: 0.9em;
}

.consent-modal__text--question {
    color: grey;
    font-size: 0.8em;
}

.consent-modal-choices{
    display: flex;
    justify-content: center;
}

.consent-modal-btn,
.consent-modal-link   {
    font-family:'Times New Roman', Times, serif;
    flex-basis: 125px;
    padding: 10px 8px;
    cursor: pointer;
    font-size: 14px;
    color: black;
    font-weight: 600;
    border-radius: 5px;
}

.consent-modal-link{
    margin-right: 12px;
    background-color: red;
    text-align: center;
    text-decoration: none;
}

.consent-modal-btn{
    background-color: green;
    border: none;
    color: #FFF;
}

body {
    overflow-y: hidden;
}

/* SLIDER */

.image-slider {
  margin-top: -90px;
}
.slide{
    height: 130px;
    width: auto;
    display: grid;
    place-items: center;
    padding: 15px;
   
}

.slide img {
    outline: 17px solid #D2A25F;
}

.image-slider img{
    height: 130px;
    width:100%;
    transition: transform 1s;
}
.image-slider{
    display: grid;
    place-items: center;
    position: relative;
    height: 250px;  
    width: 100%;
    overflow:hidden;
}

.image-slider-track{
    display: flex;
    width:calc(200px*21);
    animation: play 14.5s linear infinite;

}

.image-slider-track-reverse{
    display: flex;
    width:calc(200px*21);
   transform: translateX(calc(-200px*10));
    animation: playreverse 18s linear infinite;

}

@keyframes playreverse{
    100%{
       transform: translateX(calc(-200px*3));
    }
}

@keyframes play{
    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(calc(-200px*7));
    }
}

.image-slider::before,
.image-slider::after{
    background: linear-gradient(to right,rgba(255,255,255,1)0%,rgba(255,255,255,0)100%);
    content: '';
    height: 100%;
    width: 5%;
    z-index: 2;
    position: absolute;

    }

    .image-slider::before{
        left:0;
        top:0;
    }

    .image-slider::after{
        right:0;
        top:0;
        background: linear-gradient(to left,rgba(255,255,255,1)0%,rgba(255,255,255,0)100%);

    }

    .image-slider img:hover{
        transform: scale(1.2);
    }

/* TIMELINE */

.box-timeline {
    width: 100%;
    height: 1500px;
    position: relative;
    padding: 80px 0 250px 0;
    margin-bottom: 100px;
    font-family: "Patrick Hand SC";
}

.ligne {
    height: 2530px;
    width: 8px;
    margin: 0 auto;
    background: #D2A25F;
}

.rond {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #D2A25F;
    position: absolute;
    border: 1px solid #D2A25F;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #FFF;
}
/* 1000 - 160 + 80 / 3 =~ 306 */
.r1{top: 80px;}
.r2{top: 386px;}
.r3{top: 692px;}
.r4{top: 1000px;}
.r5{top: 1306px;}
.r6{top: 1612px;}
.r7{top: 1918px;}
.r8{top: 2224px;}
.r9{top: 2530px;}

.box {
    color: #D2A25F;
    width: 400px;
    min-height: 200px;
    padding: 20px;
    border-radius: 3px;
    height: auto;
    background: #f8f8f8;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    outline: 1.5px solid #D2A25F;
}

/* MESURES  */
.b1 {
    top: 80px;
    left: calc(50% - 270px);
}
.b2 {
    top: 386px;
    left: calc(50% + 270px);
}
.b3 {
    top: 692px;
    left: calc(50% - 270px);
}
.b4 {
    top: 1000px;
    left: calc(50% + 270px);
}
.b5 {
    top: 1306px;
    left: calc(50% - 270px);
}
.b6 {
    top: 1612px;
    left: calc(50% + 270px);
}
.b7 {
    top: 1918px;
    left: calc(50% - 270px);
}
.b8 {
    top: 2224px;
    left: calc(50% + 270px);
}
.b9 {
    top: 2530px;
    left: calc(50% - 270px);
}

.box p {
    line-height: 20px;
    font-size: 18px;
    margin: 10px 0 20px 0;
}
.btn {
    display: block;
    background: #D2A25F;
    padding: 10px;
    width: 120px;
    text-align: center;
    color: #FFF;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 10px;
    transition: 0.3s;
}

.btn:hover {
    background: #FFF;
    color: #D2A25F;
    font-size: 1.1em;
    border-radius: 7px;
    outline: 1px solid #D2A25F;
    transition: 0.3s;
}

@media screen and (max-width: 1000px) {

    .ligne {
        position: relative;
        left: 200px;
    }
    .rond {
        left: calc(50% + 200px);
    }
    .box {
        left: calc(50% - 50px)
    }

}

    /* BOX PRESENTATION */

    .container_box_presentation {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        gap: 100px;
        margin: 0px 75px;
        @media screen and (max-width: 1000px) {
            grid-template-columns: 1fr;
            gap: 10px 0px;
            margin: 0 20px;
            @media screen and (max-width: 400px) {
                margin: 0px 10px 0px 40px;
                width: 100%;
            }
        }
    }

    .box_presentation {
        background-color: #D2A25F;
        border-radius: 15px;
        height: auto;
        font-family: "Madimi One";
    }

    .case_image img {
        width: 100%;
        height: 200px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        @media screen and (max-width: 1000px) {
            display: none;
        }
    }

    .case_contenu h2 {
        text-align: center;
        padding: 5px 0px;
        border-bottom: 1px solid #FFF;
        color: #FFF;
        
    }

    .case_contenu p {
        color: #FFF;
        padding: 10px 15px;

    }

    .case_contenu button {
        background-color: #FFF;
        color: #D2A25F;
        text-align: center;
        padding: 10px;
        border: none;
        border-radius: 10px;
        margin-top: 20px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        cursor: pointer;
        transition: 0.3s;
    }

    .case_contenu button:hover {
        font-size: 1.1em;
        transition:0.5s;
        border-radius: 20px;
    }

/* AUTRE */